# dependencies
node_modules/

# build output
dist/
*.tsbuildinfo
build.log

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
*.log

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# vercel
.vercel
